In [93]:
from dotenv import dotenv_values
import requests
import pandas as pd
import ast
from tqdm.notebook import tqdm
from collections import OrderedDict

In [94]:
# OrderedDict containing key-value pairs of secret keys
config = dotenv_values("../.env")
CENSUS_API_KEY = config['CENSUS_API_KEY']

In [95]:
def get_variable_table_df(year):
    variable_table_url = f'https://api.census.gov/data/{year}/acs/acs1/profile/variables.html'
    v_table = pd.read_html(variable_table_url)
    variable_df = pd.DataFrame(v_table[0])
    variable_df['Label'].replace({"!!": " ", ":": ""}, regex=True, inplace=True)
    return variable_df

In [4]:
def get_male_by_age_index(variable_table):
    start_index = variable_table[variable_table['Label'] == 'Estimate Total Male'].index[0]
    end_index = variable_table[variable_table['Label'] == 'Estimate Total Male 85 years and over'].index[0]
    return start_index, end_index + 1

In [5]:
def get_variable_names(variable_table, indeces):
    total_male_by_age_variables = ",".join(variable_table.iloc[indeces[0]: indeces[1]]['Name'].values)
    return total_male_by_age_variables

In [120]:
def get_query_url(year, variables, state_code="*"):
    # API Reference: https://www.census.gov/data/developers/guidance/api-user-guide.Example_API_Queries.html
    # Data Dictionary: https://api.census.gov/data.html
    host = 'https://api.census.gov/data'
    year = f'/{year}'
    dataset_acronym = '/acs/acs1/profile'
    g = '?get='
    location = f"&for=county:*&in=state:{state_code}"
    usr_key = f"&key={CENSUS_API_KEY}"
    query_url = f"{host}{year}{dataset_acronym}{g}{variables}{location}{usr_key}"
    return query_url

In [98]:
def get_query_text(query_url):
    response = requests.get(query_url)
    return response.text

In [99]:
def get_values_from_response(response_text):
    values = [int(i) for i in ast.literal_eval(response_text)[1]]
    return values

In [100]:
def get_labels(variable_df, indeces):
    labels = [i.replace("!!", " ").replace(":", "") for i in variable_df.iloc[indeces[0]:indeces[1]]['Label'].values]
    return labels

In [101]:
def create_year_pop_dataframe(year, labels, values):
    df = pd.DataFrame({year: {labels[i]: values[i] for i in range(len(labels))}}).reindex(labels)
    return df

In [102]:
def create_male_pop_by_age_df(year):
    v_table = get_variable_table_df(year)
    male_by_age_indeces = get_male_by_age_index(v_table)
    variables = get_variable_names(v_table, male_by_age_indeces)
    query_url = get_query_url(year, variables, state_codes)
    response_text = get_query_text(query_url)
    vals = get_values_from_response(response_text)
    labels = get_labels(v_table, male_by_age_indeces)
    df = create_year_pop_dataframe(year, labels, vals)
    return df

In [129]:
variable_dict = OrderedDict()
variable_dict["NAME"] = "County Name"
variable_dict["DP02_0058PE"] = "Percent_EduAttain_25y_over"
variable_dict["DP02_0088PE"] = "Percent_BornInUS"
variable_dict["DP03_0002PE"] = "Percent_InLaborForce"
variable_dict["DP03_0015PE"] = "Percent_AllParentsInLaborForce"

In [121]:
def get_data(year, state_code, variables):
    v_table = get_variable_table_df(year)
    query_url = get_query_url(year, variables=variables, state_code=state_code)
    response_text = get_query_text(query_url).replace("null", "None")
    response_data = eval(response_text)
    df = pd.DataFrame(response_data[1:], columns = response_data[0])
    df = df.astype({col: float for col in df.columns[1:]})
    # vals = get_values_from_response(response_text)
    # labels = get_labels(v_table, male_by_age_indeces)
    # df = create_year_pop_dataframe(year, labels, vals)
    for col in df.columns:
        if col in variable_dict.keys():
            df = df.rename({col:variable_dict[col]}, axis=1)
    return df

In [112]:
list(variable_dict.values())

['County Name',
 'Percent_EduAttain_25y_over',
 'Percent_BornInUS',
 'Avg_HouseholdSize',
 'Percent_InLaborForce',
 'Percent_AllParentsInLaborForce']

In [145]:
# get data for counties across multiple states in question
years = [2014]
# California, Oregon, Arizona, Nevada
# state_codes = ["06", "41", "04", "32"]
state_codes = ["06", "41", "04", "32"]

output = pd.DataFrame(columns=list(variable_dict.values()) + ["state", "county"])
for year in years:
    for state_code in state_codes:
        test = get_data(year, state_code, "NAME,DP02_0058PE,DP02_0088PE,DP03_0002PE,DP03_0015PE")
        output = pd.concat([output, test], axis=0)

In [144]:
output

,County Name,Percent_EduAttain_25y_over,Percent_BornInUS,Percent_InLaborForce,Percent_AllParentsInLaborForce,state,county
0,"Alameda County, California",1039030.0,67.7,65.9,64.5,6.0,1.0
1,"Butte County, California",140947.0,91.3,55.8,59.5,6.0,7.0
2,"Contra Costa County, California",716292.0,75.5,65.4,63.5,6.0,13.0
3,"El Dorado County, California",126849.0,89.4,62.8,62.7,6.0,17.0
4,"Fresno County, California",555181.0,76.6,61.4,59.3,6.0,19.0
5,"Humboldt County, California",90796.0,92.8,58.0,62.8,6.0,23.0
6,"Imperial County, California",105588.0,66.3,53.9,62.8,6.0,25.0
7,"Kern County, California",499760.0,78.9,60.0,59.3,6.0,29.0
8,"Kings County, California",93661.0,78.7,55.8,60.7,6.0,31.0
9,"Lake County, California",46437.0,89.5,57.9,62.9,6.0,33.0
10,"Los Angeles County, California",6443949.0,63.9,64.5,60.1,6.0,37.0
11,"Madera County, California",93575.0,77.3,47.6,46.0,6.0,39.0
12,"Marin County, California",187431.0,81.2,64.3,72.6,6.0,41.0
13,"Mendocino County, California",60498.0,87.3,64.6,73.7,6.0,45.0
14,"Merced County, California",146468.0,72.7,60.3,60.5,6.0,47.0
15,"Monterey County, California",262123.0,67.3,61.8,64.1,6.0,53.0
16,"Napa County, California",94403.0,74.7,65.1,45.3,6.0,55.0
17,"Nevada County, California",74068.0,94.5,58.3,87.2,6.0,57.0
18,"Orange County, California",2008772.0,68.4,66.4,60.7,6.0,59.0
19,"Placer County, California",244082.0,88.8,61.6,58.9,6.0,61.0
20,"Riverside County, California",1380097.0,77.3,60.7,57.9,6.0,65.0
21,"Sacramento County, California",929533.0,78.4,64.2,61.7,6.0,67.0
22,"San Bernardino County, California",1236930.0,78.0,61.7,60.0,6.0,71.0
23,"San Diego County, California",2045141.0,74.8,64.8,57.0,6.0,73.0
24,"San Francisco County, California",630383.0,61.1,68.1,71.7,6.0,75.0
25,"San Joaquin County, California",422178.0,75.8,62.3,65.6,6.0,77.0
26,"San Luis Obispo County, California",180251.0,88.4,58.0,63.4,6.0,79.0
27,"San Mateo County, California",511099.0,65.2,68.6,76.5,6.0,81.0
28,"Santa Barbara County, California",261301.0,74.9,65.3,72.2,6.0,83.0
29,"Santa Clara County, California",1218703.0,61.8,67.1,64.8,6.0,85.0
30,"Santa Cruz County, California",170925.0,80.4,64.9,64.8,6.0,87.0
31,"Shasta County, California",122600.0,93.7,54.7,51.4,6.0,89.0
32,"Solano County, California",275019.0,78.2,64.8,66.8,6.0,95.0
33,"Sonoma County, California",336404.0,82.4,65.7,62.3,6.0,97.0
34,"Stanislaus County, California",317403.0,78.0,62.5,63.1,6.0,99.0
35,"Sutter County, California",59260.0,75.8,61.5,69.1,6.0,101.0
36,"Tulare County, California",255641.0,75.9,62.5,63.3,6.0,107.0
37,"Ventura County, California",538930.0,76.6,68.3,67.6,6.0,111.0
38,"Yolo County, California",115369.0,74.7,62.2,65.3,6.0,113.0
39,"Yuba County, California",43923.0,87.6,59.2,56.3,6.0,115.0
0,"Benton County, Oregon",51016.0,88.9,57.0,37.7,41.0,3.0
1,"Clackamas County, Oregon",262062.0,90.8,63.8,58.6,41.0,5.0
2,"Deschutes County, Oregon",112243.0,94.1,63.7,62.3,41.0,17.0
3,"Douglas County, Oregon",77977.0,96.2,51.5,46.4,41.0,19.0
4,"Jackson County, Oregon",142488.0,93.4,59.5,60.9,41.0,29.0
5,"Josephine County, Oregon",61110.0,95.4,46.6,49.7,41.0,33.0
6,"Klamath County, Oregon",45293.0,94.6,57.3,67.2,41.0,35.0
7,"Lane County, Oregon",236974.0,93.5,59.1,56.4,41.0,39.0
8,"Linn County, Oregon",79904.0,94.5,57.9,47.1,41.0,43.0
9,"Marion County, Oregon",203714.0,86.3,60.5,56.0,41.0,47.0
10,"Multnomah County, Oregon",526498.0,84.2,68.8,59.2,41.0,51.0
11,"Polk County, Oregon",48902.0,93.2,58.0,52.9,41.0,53.0
12,"Umatilla County, Oregon",50210.0,90.3,62.2,66.1,41.0,59.0
13,"Washington County, Oregon",358974.0,82.1,69.9,63.5,41.0,67.0
14,"Yamhill County, Oregon",64789.0,91.9,65.6,82.2,41.0,71.0

In [32]:
create_male_pop_by_age_df(2019)

                                          2019
Estimate Total Male                    6217305
Estimate Total Male Under 5 years       378778
Estimate Total Male 5 to 9 years        383859
Estimate Total Male 10 to 14 years      420715
Estimate Total Male 15 to 17 years      249124
Estimate Total Male 18 and 19 years     168973
Estimate Total Male 20 years             84744
Estimate Total Male 21 years             86507
Estimate Total Male 22 to 24 years      252191
Estimate Total Male 25 to 29 years      450372
Estimate Total Male 30 to 34 years      432580
Estimate Total Male 35 to 39 years      426822
Estimate Total Male 40 to 44 years      392949
Estimate Total Male 45 to 49 years      396957
Estimate Total Male 50 to 54 years      394088
Estimate Total Male 55 to 59 years      408766
Estimate Total Male 60 and 61 years     162083
Estimate Total Male 62 to 64 years      231722
Estimate Total Male 65 and 66 years     135354
Estimate Total Male 67 to 69 years      176062
Estimate Total Male 70 to 74 years      239491
Estimate Total Male 75 to 79 years      161487
Estimate Total Male 80 to 84 years       98050
Estimate Total Male 85 years and over    85631

In [22]:
years = [i for i in range(2018, 2020)]
male_pop_by_age_df = pd.DataFrame(columns=['Population Label'])
for year in tqdm(years):
    try:
        y_df = create_male_pop_by_age_df(year).reset_index().rename({'index': 'Population Label'}, axis=1)
        male_pop_by_age_df = pd.merge(male_pop_by_age_df, y_df, how='outer', on='Population Label')
    except IndexError:
        next

  0%|          | 0/2 [00:00<?, ?it/s]

In [23]:
male_pop_by_age_df

                         Population Label     2018     2019
0                     Estimate Total Male  2369271  6217305
1       Estimate Total Male Under 5 years   149436   378778
2        Estimate Total Male 5 to 9 years   151958   383859
3      Estimate Total Male 10 to 14 years   164696   420715
4      Estimate Total Male 15 to 17 years    97945   249124
5     Estimate Total Male 18 and 19 years    72354   168973
6            Estimate Total Male 20 years    38027    84744
7            Estimate Total Male 21 years    35913    86507
8      Estimate Total Male 22 to 24 years    87578   252191
9      Estimate Total Male 25 to 29 years   162850   450372
10     Estimate Total Male 30 to 34 years   148415   432580
11     Estimate Total Male 35 to 39 years   144980   426822
12     Estimate Total Male 40 to 44 years   141474   392949
13     Estimate Total Male 45 to 49 years   149523   396957
14     Estimate Total Male 50 to 54 years   153378   394088
15     Estimate Total Male 55 to 59 years   159550   408766
16    Estimate Total Male 60 and 61 years    65854   162083
17     Estimate Total Male 62 to 64 years    84370   231722
18    Estimate Total Male 65 and 66 years    52413   135354
19     Estimate Total Male 67 to 69 years    72211   176062
20     Estimate Total Male 70 to 74 years   102466   239491
21     Estimate Total Male 75 to 79 years    67149   161487
22     Estimate Total Male 80 to 84 years    39597    98050
23  Estimate Total Male 85 years and over    27134    85631

In [13]:
male_pop_by_age_df.to_csv('data_extract/male_pop_by_age_2005-2019.csv')