In [69]:
import pandas as pd
import seaborn as sns
import numpy as np
import requests
import os
import json
import csv
import re
from dotenv import dotenv_values
from collections import OrderedDict

In [55]:
config = dotenv_values("../.env")

In [56]:
config

OrderedDict([('CDC_APP_TOKEN', 'Qbjx2DP1NHgl87A2ZO5M7DX6B'),
             ('CDC_API_KEY', 'drbkj9y6jiyelj3w12wbkrnb8'),
             ('CDC_API_KEY_SECRET',
              '4k7ebsr9fl8ft7h98hku1h4mpsykepztcizgmaoep5zdnlo3l6')])

In [57]:
CDC_APP_TOKEN = config['CDC_APP_TOKEN']

## Load the CDC Asthma Data

There are 80342 rows in the original database, but we can easily query 50000 of them using the API limit.

In [71]:
### QUERY PARAMETERS ###
limit = 50000 # number of records to return

In [72]:
url = f'https://chronicdata.cdc.gov/resource/us8e-ubyj.json?$limit={limit}'
headers = {
    "X-App-Token": CDC_APP_TOKEN,
}
 
response = requests.request("GET", url, headers=headers)
asthma_data = json.loads(response.content)
asthma_data = pd.json_normalize(asthma_data)
asthma_data.to_csv('asthma_data.csv')

In [73]:
asthma_data.yearstart.value_counts()

yearstart
2017    5735
2015    5731
2018    5730
2014    5725
2016    5703
2013    4404
2011    3139
2019    3138
2012    3137
2020    3127
2010    2442
2021    1989
Name: count, dtype: int64

## Load in the PM2.5 Concentrations Data

In [60]:
url = "https://data.cdc.gov/resource/fcqm-xrf4.json"
headers = {
    "X-App-Token": CDC_APP_TOKEN,
}
 
response = requests.request("GET", url, headers=headers)
pm_conc_data = json.loads(response.content)
pm_conc_data = pd.json_normalize(pm_conc_data)
pm_conc_data.to_csv('pm_conc_data.csv')

In [63]:
pm_conc_data

,year,date,statefips,countyfips,ctfips,latitude,longitude,ds_pm_pred,ds_pm_stdd
0,2014,12SEP2014,39,39145,39145002600,38.82242,-82.74814,6.1196,4.0929
1,2014,12SEP2014,51,51510,51510200103,38.82248,-77.13577,5.3507,2.8635
2,2014,12SEP2014,24,24033,24033801706,38.82326,-76.96041,5.548,2.8739
3,2014,12SEP2014,24,24033,24033801704,38.82342,-76.98072,5.568,2.9027
4,2014,12SEP2014,51,51510,51510201300,38.82351,-77.05437,5.5771,2.9334
...,...,...,...,...,...,...,...,...,...
995,2014,12SEP2014,11,11001,11001009505,38.96191,-77.00522,5.5458,2.8079
996,2014,12SEP2014,29,29019,29019001300,38.96238,-92.38242,4.1059,2.7233
997,2014,12SEP2014,17,17119,17119402801,38.96242,-90.1187,6.1747,3.5519
998,2014,12SEP2014,20,20091,20091052417,38.96259,-94.73479,3.557,1.8269
999,2014,12SEP2014,24,24033,24033806000,38.96263,-76.96173,5.7013,3.0229